@margin: 10px;                                  // Margin space around outside of pin

@pin-width: 200px;                              // Width of pin_div
@pin-height: 225px;                             // Height of pin_div
@pin-max-row: 4;                                // Maximum number of pins per row in the pinboard
@pin-bg-image: url("../images/pin-bg.png");     // Background of each pin

@pinboard-max-width: ((@pin-width + (@margin * 2)) * @pin-max-row);      // Maximum width of entire pinboard
@pinboard-bg-image: url("../images/body-bg.png");                        // Background of entire pinboard

.rounded (@radius: @margin) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

.pinboard {
    .rounded;
    display: inline-block;
    background-image: @pinboard-bg-image;
    background-repeat: repeat;
    max-width: @pinboard-max-width;
}

.pin_div {
    float: left;
    margin: @margin;
    text-align: center;
    max-width: @pin-width;
    max-height: @pin-height;
    height: @pin-height;
    overflow-y: hidden;
}

.pin_img {
    width: @pin-width;
    height: @pin-width;
}

.pin_cap {
    max-width: @pin-width;
}