<div class="pin_div" id="pin_<%= num %>" style="display: none;">
    <img class="pin_img" id="img_<%= num %>" src="<%= image %>"/>
    <% if (caption) { %>
        <span class="pin_cap"><%= caption %></span>
    <% } %>
</div>