.pinboard {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  background-image: url("../images/body-bg.png");
  background-repeat: repeat;
  max-width: 880px;
}
.pin_div {
  float: left;
  margin: 10px;
  text-align: center;
  max-width: 200px;
  max-height: 225px;
  height: 225px;
  overflow-y: hidden;
}
.pin_img {
  width: 200px;
  height: 200px;
}
.pin_cap {
  max-width: 200px;
}
